[core]
	editor = vim

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	log = auto

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	df = diff
	la = log --graph --decorate --pretty=oneline --abbrev-commit --all
	laa= log --graph --decorate --abbrev-commit --all --pretty='format:%C(auto)%h %an%x09%d %s'
[push]
	default = matching
